﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SportDiary.Web.SiteMaster" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title>Sport Diary</title>

    <link rel="stylesheet" href="Content/Site.css" />
    <link rel="stylesheet" href="Content/bootstrap.css" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-ui-1.8.24.min.js"></script>
    <script type="text/javascript" src="Scripts/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body>
    <form runat="server">
        <div class="container">
            <!-- NAVBAR -->
            <div class="row navbar navbar-default">
                <div class="container">
                    <a href="/" class="navbar-brand">Sport Diary</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a runat="server" href="~/">Главная</a></li>
                        <li><a runat="server" href="Statistics.aspx">Статистика</a></li>
                        <li><a runat="server" href="CreateTraining.aspx">Добавить тренировку</a></li>
                        <li><a runat="server" href="CreateTrainingPart.aspx">Добавить часть тренировки</a></li>
                        <li><a runat="server" href="CreateExercise.aspx">Добавить упражнение</a></li>
                    </ul>
                </div>
            </div>

            <!-- MAIN CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <asp:ContentPlaceHolder runat="server" ID="MainContent" />
                </div>
            </div>

        </div>

        <!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <div class="row well">
                    <p class="text-muted"><%= DateTime.Now.Year %> - Victor Chalyy</p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
